.list {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
  text-align:center;
}

.list-header {
  color: #fff;
  text-transform: uppercase;
}

.list-header h2 {
  display: block;
  margin: 15px 0;
  text-align: center;
}

.list h4 {
  color: #fff;
  text-align: center;
}
