.loading {
  margin-bottom: 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
}

.app-title {
  font-family: 'Permanent Marker';
  font-size: 4rem;
  text-shadow: 1px 1px 2px #444;
  letter-spacing: 2px;
}

.loading > div {
  margin-bottom: 15px;
}

.loading div:last-child {
  margin-bottom: 0;
}

.loading-location {
  display: block;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
}

#fountainTextG{
  width:160px;
  margin:auto;
}

.fountainTextG{
  color:rgb(255,255,255);
  font-family:Arial;
  font-size:34px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  line-height: 24px;
  float:left;
  animation-name:bounce_fountainTextG;
    -o-animation-name:bounce_fountainTextG;
    -ms-animation-name:bounce_fountainTextG;
    -webkit-animation-name:bounce_fountainTextG;
    -moz-animation-name:bounce_fountainTextG;
  animation-duration:1.82s;
    -o-animation-duration:1.82s;
    -ms-animation-duration:1.82s;
    -webkit-animation-duration:1.82s;
    -moz-animation-duration:1.82s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.5);
    -o-transform:scale(.5);
    -ms-transform:scale(.5);
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
}#fountainTextG_1{
  animation-delay:0.65s;
    -o-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
}
#fountainTextG_2{
  animation-delay:0.78s;
    -o-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
}
#fountainTextG_3{
  animation-delay:0.91s;
    -o-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
}
#fountainTextG_4{
  animation-delay:1.04s;
    -o-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
}
#fountainTextG_5{
  animation-delay:1.17s;
    -o-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
}
#fountainTextG_6{
  animation-delay:1.3s;
    -o-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
}
#fountainTextG_7{
  animation-delay:1.43s;
    -o-animation-delay:1.43s;
    -ms-animation-delay:1.43s;
    -webkit-animation-delay:1.43s;
    -moz-animation-delay:1.43s;
}
#fountainTextG_8{
  animation-delay:1.56s;
    -o-animation-delay:1.56s;
    -ms-animation-delay:1.56s;
    -webkit-animation-delay:1.56s;
    -moz-animation-delay:1.56s;
}
#fountainTextG_9{
  animation-delay:1.69s;
    -o-animation-delay:1.69s;
    -ms-animation-delay:1.69s;
    -webkit-animation-delay:1.69s;
    -moz-animation-delay:1.69s;
}
#fountainTextG_10{
  animation-delay:1.82s;
    -o-animation-delay:1.82s;
    -ms-animation-delay:1.82s;
    -webkit-animation-delay:1.82s;
    -moz-animation-delay:1.82s;
}




@keyframes bounce_fountainTextG{
  0%{
    transform:scale(1);
    color:rgb(255,255,255);
  }

  100%{
    transform:scale(.5);
    color:rgb(21,131,153);
  }
}

@-o-keyframes bounce_fountainTextG{
  0%{
    -o-transform:scale(1);
    color:rgb(255,255,255);
  }

  100%{
    -o-transform:scale(.5);
    color:rgb(21,131,153);
  }
}

@-ms-keyframes bounce_fountainTextG{
  0%{
    -ms-transform:scale(1);
    color:rgb(255,255,255);
  }

  100%{
    -ms-transform:scale(.5);
    color:rgb(21,131,153);
  }
}

@-webkit-keyframes bounce_fountainTextG{
  0%{
    -webkit-transform:scale(1);
    color:rgb(255,255,255);
  }

  100%{
    -webkit-transform:scale(.5);
    color:rgb(21,131,153);
  }
}

@-moz-keyframes bounce_fountainTextG{
  0%{
    -moz-transform:scale(1);
    color:rgb(255,255,255);
  }

  100%{
    -moz-transform:scale(.5);
    color:rgb(21,131,153);
  }
}