.loading {
  margin-bottom: 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
}

.loading div {
  margin-bottom: 15px;
}

.loading div:last-child {
  margin-bottom: 0;
}

.loading-location {
  display: block;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
}
