.h-nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

nav p.displayname {

}

.save-restaurant {
  position: absolute;
  width: 500px;
  height:500px;
  background-color: white;
  top: 50px;
}

.save-restaurant  p {
  float: left;
}
