.h-nav {
  margin: 15px 0;
}

nav p.displayname {

}

nav a.nav-login {
  display: block;
  padding: 6px 16px;
  color: #fff;
  text-align: center;
  border: 2px solid;
  border-radius: 8px;
}


nav a.nav-login:hover {
  text-decoration: none;
}


.save-restaurant {
  position: absolute;
  width: 500px;
  height:500px;
  background-color: white;
  top: 50px;
}

.save-restaurant  p {
  float: left;
}
