body {
  background: #1AA1BC;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

a.button,
.button {
  display: block;
  height: 36px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}

a.button:hover,
.button:hover {
  text-decoration: none;
}

a.button:focus,
.button:focus {
  outline: 0;
}
